.main-page {
    .content {
        margin-top: 50px;
        
        .ant-menu {
            padding-left: 20px;
            font-size: 18px;

            .anticon {
                margin: 0;
                margin-left: 3px;
            }
        }

        .myTable {
            padding: 10px 20px;

            .anticon {
                margin-right: 5px; 
            }

            .action {
                a:last-child {
                    color: #333;
                    margin-left: 20px;
                }
            }
        }
    }
}